@import "colors"
.block1
    margin-top: 70px
    display: flex
    justify-content: space-between
    min-height: 800px
    overflow-x: hidden
    .center
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 30px
        gap: 10px
        width: 100%
        @media screen and (max-width: 955px)
            flex-direction: column-reverse
            justify-content: center
            align-items: center
            gap: 40px
    .text
        h1
            display: flex
            flex-direction: column
            gap: 23px
            color: #fff
            @media screen and (max-width: 955px)
                text-align: center
            span
                &.is-1
                    font-size: 4rem
                    line-height: 0.9
                    @media screen and (max-width: 1310px)
                        font-size: 3rem
                    @media screen and (max-width: 1000px)
                        font-size: 2.6rem
                    @media screen and (max-width: 395px)
                        font-size: 2.3rem
                &.is-2
                    font-size: 7rem
                    color: $color-1
                    @media screen and (max-width: 1310px)
                        font-size: 5.5rem
                    @media screen and (max-width: 1000px)
                        font-size: 4rem
                    @media screen and (max-width: 395px)
                        font-size: 3.3rem
                &.is-line
                    border-bottom: 2px solid $color-1
                &.is-3
                    font-size: 2.3rem
                    line-height: 1.5
                    @media screen and (max-width: 1310px)
                        font-size: 2rem
                    @media screen and (max-width: 1225px)
                        font-size: 1.6rem
                    @media screen and (max-width: 1000px)
                        font-size: 1.4rem
                    @media screen and (max-width: 395px)
                        font-size: 1.2rem

        a.lets_go
            font-size: 3.5rem
            color: #fff
            text-decoration: none
            width: 270px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.4rem
            outline: 1px solid #fff
            cursor: pointer
            position: relative
            font-weight: 600
            transition: color 0.15s ease-in-out
            @media screen and (max-width: 955px)
                margin: 0 auto
            &:hover
                color: $color-1
            &:hover
                span
                    transition: top 0.15s ease-in-out, transform 0.15s ease-in-out, right 0.15s ease-in-out, left 0.15s ease-in-out
                    &.is-1
                        top: -10px
                        left: 10px
                        transform: rotate(-90deg)
                    &.is-2
                        right: 10px
                        top: 20px
                        transform: rotate(90deg)
            span
                position: absolute
                width: 0
                height: 0
                border-top: 20px solid $color-1
                border-left: 20px solid transparent
                border-bottom: 20px solid transparent
                transition: top 0.15s ease-in-out, transform 0.15s ease-in-out, right 0.15s ease-in-out, left 0.15s ease-in-out
                &.is-1
                    left: 0
                    bottom: 0
                    transform: rotate(-180deg)
                &.is-2
                    right: 0
                    top: 0
    .hackerImg
        margin-right: 30px
        position: relative
        user-select: none
        pointer-events: none
        @media screen and (max-width: 634px)
            margin-right: 0px
        img
            &.is-1
                width: 550px
                height: 490px
                object-fit: cover
                @media screen and (max-width: 1210px)
                    width: 450px
                    height: 390px
                @media screen and (max-width: 634px)
                    width: 350px
                    height: 290px
                @media screen and (max-width: 485px)
                    width: 300px
                    height: 200px
            &.is-2
                position: absolute
                left: 0px
                top: -100px
                width: 630px
                @media screen and (max-width: 1210px)
                    width: 530px
                @media screen and (max-width: 634px)
                    width: 430px
                @media screen and (max-width: 485px)
                    width: 300px
                    top: -70px
                    left: 20px
.block2
    padding: 75px 50px
    h2
        color: $color-1
        font-size: 3rem
        span
            &.is-line
                border-bottom: 2px solid $color-1
    .items
        display: flex
        justify-content: space-between
        @media screen and (max-width: 750px)
            flex-direction: column
            gap: 20px
        .item
            display: flex
            flex-direction: column
            gap: 15px
            @media screen and (min-width: 751px)
                &.is-2
                    flex-direction: column-reverse
            .text
                color: #fff
                font-weight: 600
                font-size: 1.6rem
                line-height: 1.4
                &.is-right
                    text-align: right
                @media screen and (max-width: 950px)
                    font-size: 1.3rem
                @media screen and (max-width: 500px)
                    font-size: 1.1rem
            img
                user-select: none
                pointer-events: none
                width: 100%
