@import "colors"
.block1
    margin-top: 70px
    display: flex
    justify-content: space-between
    min-height: 800px
    overflow-x: hidden
    .center
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 30px
    .text
        h1
            display: flex
            flex-direction: column
            gap: 23px
            color: #fff
            span
                &.is-1
                    font-size: 4rem
                    line-height: 0.9
                &.is-2
                    font-size: 7rem
                    color: $color-1
                &.is-line
                    border-bottom: 2px solid $color-1
                &.is-3
                    font-size: 2.3rem
                    line-height: 1.5
    .hackerImg
        margin-right: 30px
        position: relative
        img
            &.is-1
                width: 550px
                height: 490px
                object-fit: cover

            &.is-2
                position: absolute
                left: 20px
                top: -100px
                width: 630px
